<p class="env-text env-color--lightest"><a class="env-color--lightest" href="<%= app.githubUrl %>"><%= app.name %> <%= app.version %></a>, skapad av <a class="env-color--lightest" href="<%= app.author.url %>"><%= app.author.name %></a>.</p>
