<!DOCTYPE html>
<html lang="sv">
<head>
  <title><%= app.siteName %></title>
  <% include ../partials/head %>
</head>
<body>
  <div class="page">
    <main class="page-content">
      <div class="container">
        <% if (url)  { %>
          <div class="hero form-result">
            <% if (version) { %>
              <h1>Version funnen!</h1>
              <p><em><%= url %></em> använder <% if (!exactVersion) { %>troligtvis<% } %> <strong class="form-result__version">SiteVision <%= version %></strong>.</p>
            <% } else { %>
              <h1>Ingen version funnen</h1>
              <p>Kunde tyvärr inte lista ut vilken version som <em><%= url %></em> använder.</p>
              <p>Kontrollera gärna att du fyllde i rätt webbadress.</p>
            <% } %>
          </div><!--! .form-result -->
        <% } else { %>
          <div class="hero">
            <h1>Ta reda på vilken version av <a href="https://sitevision.se/">SiteVision</a> som används.</h1>
            <p>Använd formuläret nedan för att ta reda på vilken version som används på en webbplats.</p>
          </div><!--! .hero -->
        <% } %>

        <form id="form" class="form">
          <div class="form-element">
            <label for="url" class="form-label">Webbadress</label><!--! .form-label -->
            <input type="text" class="form-field" name="url" id="url" value="<%= url %>" aria-describedby="url-help" autofocus><!--! .form-field -->
            <span id="url-help" class="form-help">Skriv in adressen till den webbplats du vill veta versionen för.</span><!--! .form-help -->
          </div><!--! .form-element -->

          <div class="form-element">
            <button class="button">Skicka</button><!--! .button -->
          </div><!--! .form-element -->
        </form><!--! .form -->

      </div><!--! .container -->
    </main><!--! .page-content -->

    <footer class="page-footer">
      <div class="container">
        <% include ../partials/footer %>
      </div><!--! .container -->
    </footer><!--! .page-footer -->
  </div><!--! .page -->
</body>
</html>
